<h2><%= @match.approved? ? 'Approvata' : 'Rifiutata' %></h2>


La Sfida fra
<%= @match.challenger %> e <%= @match.challenged %> è stata <%= @match.approved? ? 'Approvata' : 'Rifiutata' %>


<%if @match.approved? %>
  <div>
    <%= @match.winner %> ha guadagnato <%= @match.points %>
  </div>

  <div>
    <%= @match.looser %> ha perso <%= @match.points %>
  </div>
<%end%>

